*{
    font-family: Arial, Helvetica;
}

body {
    margin: 0;
    /* background: #dedede; */
    display: flex;
    align-items: center;
    height: 100vh;
    z-index: 0;
}

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    max-height: 60vh;
    max-width: 60vh;
    z-index: 1;
}

.level{
    z-index: 2000;
    font-size: 30px;
    text-align: center;
    margin-left: 40%;
    bottom: 5%;
    position: absolute;
}

.color {
    width: 34%;
    height: 34%;
    display: inline-block;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.gray{
    background: #2d475f;
}

.gray.light{
    background: #5c6874;
}

.rojo{
    background: red;
}

.rojo.light{
    background: rgb(253, 88, 88);
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}

.violeta {
    background: #be2edd;
}

.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}

.verde.light {
    background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
}

.hide {
    display: none;
}